
<link rel="stylesheet" href="../css/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<div class="footer">
 
  <hr />
  <div class="container">
    <div class="footerDetail">
      <div class="socialMedia">
        <a href="#">

        </a>
        <p>
          We make it easy for you
        </p>
        <div class="socialMediaLogos">
          <a href="#"><img src="../resources/facebook.svg" alt="facebook logo" /></a>
          <a href="#"><img src="../resources/twitter.svg" alt="twitter logo" /></a>
          <a href="#"><img src="../resources/instagram.svg" alt="instagram logo" /></a>
          <a href="#"><img src="../resources/linkedIn.svg" alt="LinkedIn logo" /></a>
        </div>
      </div>
      <div class="company">
        <h4>Company</h4>
        <ul>
          <li><a href="about">About us</a></li>
        </ul>
      </div>
      <div class="products">
        <h4>Products</h4>
        <ul>
          <li><a href="book">Book your journey!</a></li>
        </ul>
      </div>
      <div class="contactUs">
        <h4>Contact Us</h4>
        <ul>
          <li>
            <p>
              3 El Sheikh Nour El Din St., HELIOPOLIS,
              Cairo
            </p>
          </li>
          <li class="contact">
            <img src="../resources/phone.svg" alt="phone icon" />
            <p>+20-022354514</p>
          </li>
          <li class="contact">
            <img src="../resources/email.svg" alt="email id" />
            <p>info@travinture.com</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="policyWrapper">
      <div class="policies">
        <p>&#169;2023-2024 All Rights Reserved</p>
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><span>|</span></li>
          <li><a href="#"> Terms & conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


</html>