<head>
  <link rel="stylesheet" href="../css/mystyle.css">
</head>

<div class='topnav'>
  

  <% if(user==="" ) {%>
    <a href='/user/signup'>Sign Up</a>
    <a href='/user/login'>Login</a>
  <% } else { 
    if(user.type==="admin" ) { %>
      <a href='/admin/viewAll'>Admin</a>
    <% } %>
    <a href='/user/profile'>Profile</a>
    <a href='/user/logout'>Logout</a>

  <% } %>
  <a href='/about'>About</a>
  <a href='/'>Home</a>
  <a href="/" id="logo">Traventure</a>

</div>