<head>
  <link rel="stylesheet" href="../css/mystyle.css">
</head>

<div class='topnav'>
  <a href='/'>Home</a>
  <a href='/about'>About</a>

 
    <a href='/user/signup'>Sign Up</a>
    <a href='/user/login'>Login</a>
  

      <a href='/admin'>Admin</a>
  
    <a href='/user/profile'>Profile</a>
    <a href='/user/logout'>Logout</a>

    <div class="user">
      Welcome 
    </div>

</div>