<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/about.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="./bootstrap-5.0.2-dist/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/home.css" />

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script
      src="./bootstrap-5.0.2-dist/js/bootstrap.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <%-include('./partials/icon.ejs')%>
    <title>About us</title>
  </head>
  <body>
    <header id="abth"><%- include('./partials/header'); %></header>
    <section class="banner">
      <h1>ABOUT US</h1>
      <p>
        We build solutions for the problems we face in life journey and for
        better experience.
      </p>
    </section>
    <section class="mission">
      <div class="commonHeading">
        <h3>Our Mission</h3>
      </div>
      <p>
        At Traventure,
        Our mission is to create unforgettable travel experiences that inspire and enrich the lives of our customers.
        We are dedicated to providing exceptional service and personalized attention to detail, 
        ensuring that every journey with us is seamless and extraordinary.
      </p>
      <p>
        Our team of passionate travel experts works tirelessly to curate unique itineraries,
        handpick exquisite accommodations, and offer immersive cultural experiences, allowing our clients to discover the world in all its beauty and diversity.
        With a commitment to sustainability and responsible travel, we strive to minimize our environmental impact and support local communities, promoting a more sustainable and inclusive tourism industry.
        Whether it's a relaxing beach getaway, an adventurous trek through breathtaking landscapes, or a cultural exploration of vibrant cities, we are here to turn dreams into reality, creating memories that will last a lifetime.
        Join us on this incredible journey of exploration and discovery, as we help you embark on the trip of a lifetime.
      </p>
    </section>
    <section class="reason">
      <div class="commonHeading">
        <h5>Why Traventure?</h5>
        <h3> for exceptional service, personalized attention, and unforgettable travel experiences that exceed your expectations.</h3>
      </div>

      <div class="reasonCard">
        <div class="reasonCardDetail">
          <img src="resources/people.svg" alt="people icon" />
          <h4>Traventure</h4>
          <p>People's best choice!</p>
        </div>
       
        <div class="reasonCardDetail">
          <img src="resources/target.svg" alt="target" />
          <h4>Our target</h4>
          <p>Our target audience includes adventure-seeking people </p>
        </div>
      </div>
    </section>



    <section class="career">
      <div class="careerDescription">
        <div class="commonHeading">
          <h3>Come <span>Join Our Team</span></h3>
        </div>
        <p>
          If you share our mission, we would love to hear from you. Share your
          resume to <span>company@domain.com</span>
        </p>
      </div>
      <img src="resources/teamRoad.png" alt="Career road" />
    </section>
    <footer id="fff"> <%- include('./partials/footer'); %></footer>
  </body>
</html>
