<!DOCTYPE html>
<html lang="it">

<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%-include('./partials/icon.ejs')%>`
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/adduser.css">
        

    <title>Add user</title>
</head>

<body>
    <div class="container">

        <h3>Add user</h3>
        <div class="table">
            <div class="tr">
                <form action="/admin/adduser" enctype="multipart/form-data" method="post" id="add-form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName">FirstName</label>
                            <input type="text" class="form-control" name="fname" id="inputName" placeholder="Enter name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSurname">Lastname</label>
                            <input type="text" class="form-control" name="lname" id="inputSurname" placeholder="Enter surname"
                                required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSurname">Username</label>
                            <input type="text" class="form-control" name="uname" id="inputSurname" placeholder="Enter username"
                                required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSurname">Password</label>
                            <input type="text" class="form-control" name="pass" id="inputSurname" placeholder="Enter password"
                                required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSurname">Phone</label>
                            <input type="text" class="form-control" name="ph" id="inputSurname" placeholder="Enter phone number"
                                required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSurname">Age</label>
                            <input type="text" class="form-control" name="age" id="inputSurname" placeholder="Enter age" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSurname">Type</label>
                            <input type="text" class="form-control" name="typee" id="inputSurname" placeholder="Enter account type"
                                required>
                        </div>
                        <div>
                            Profile Picture: <input type="file" name="img">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" name="email" id="inputEmail" placeholder="mail@example.com"
                            required>
                    </div>





                    <!-- <button type="submit" class="btn btn-primary" onclick="">Add user</button> -->
                    <input type="submit" name="submit" class="btn btn-primary">
                </form>
            </div>
        </div>

        <hr>

    </div>

    <!-- <script src="script.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</body>

</html>