<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%-include('./partials/icon.ejs')%>
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/adduser.css">
        

    <title>Add user</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Assuming you have included the necessary jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <script>
    $(document).ready(function() {
      var emailTimer;
      $('#mail').on('input', function() {
        clearTimeout(emailTimer);
        emailTimer = setTimeout(validateEmail, 500); // Wait for 500ms after the last input change
      });
    
      function validateEmail() {
        var email = $('#mail').val();
    
        $.ajax({
          url: '/admin/check123', // Update the URL to match your route
          type: 'POST', // Change the request type to POST
          data: { email: email },
          success: function(response) {
            if (response.message === 'taken') {
              $('#email-error').text('Email already taken');
              $('#submitbtn').prop('disabled', true); // Disable the button
              
    
            } else {
              $('#email-error').text('');
              $('#submitbtn').prop('disabled', false); // enable the button
             
    
            }
          },
          error: function() {
            $('#email-error').text('Error occurred during validation');
          }
        });
      }
    });
    
    
    </script>
    

</head>
<body>
  <div class="grid-container">
    <header class="header">
      <div class="menu-icon" onclick="openSidebar()">
        <span class="material-icons-outlined">menu</span>
      </div>
      <div class="header-left">
        <span class="material-icons-outlined">search</span>
      </div>
      <div class="header-right">
        <span class="material-icons-outlined">notifications</span>
        <span class="material-icons-outlined">email</span>
        <span class="material-icons-outlined">account_circle</span>
      </div>
    </header>
    <%- include('./partials/sidebar-admin'); %>
    <main class="main-container">
        <div class="container">

        <h3>Add user</h3>
        <div class="table">
            <div class="tr">
                <form action="/admin/adduser" enctype="multipart/form-data" method="post" id="add-form" >
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName">FirstName</label>
                            <input type="text" class="form-control" name="firstname" id="inputName" placeholder="Enter name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSurname">Lastname</label>
                            <input type="text" class="form-control" name="lastname" id="inputSurname" placeholder="Enter surname"
                                required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSurname">Username</label>
                            <input type="text" class="form-control" name="username" id="inputSurname" placeholder="Enter username"
                                required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSurname">Password</label>
                            <input type="text" class="form-control" name="password" id="inputSurname" placeholder="Enter password"
                                required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSurname">Phone</label>
                            <input type="text" class="form-control" name="phone" id="inputSurname" placeholder="Enter phone number"
                                required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSurname">Age</label>
                            <input type="text" class="form-control" name="dob" id="inputSurname" placeholder="Enter age" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSurname">Type</label>
                            <input type="text" class="form-control" name="type" id="inputSurname" placeholder="Enter account type"
                                required>
                        </div>
                        <div>
                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        
                        <input type="email" class="form-control" name="mail" id="mail" placeholder="mail@example.com"
                          
                            required>
                    </div>





                    <!-- <button type="submit" class="btn btn-primary" onclick="">Add user</button> -->
                    <input type="submit" id='submitbtn' name="submit" class="btn btn-primary">
                </form>
                <span id="email-error"> </span>
            </div>
        </div>

        <hr>

    </div>

    <!-- <script src="script.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</body>
</html>