<!-- views/index.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>User Data</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  
</head>
<body>

  <h1>User Data</h1>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
      <th>email</th>
      <th>Last Name</th>
      <th>Phone</th>

    </tr>


    

  </table>

</body>
</html>
<!-- firstname : String,
lastname : String,
username : String,
password : String,
mail : String,
phone : String,
dob : Date,
cpassword : String -->
