<html lang="en">
<head>
  <%-include('./partials/icon.ejs')%>
  <link rel="stylesheet" type="text/css" href="../css/error.css">
</head>
<body>
<header><%- include("./partials/header.ejs") %></header>  

    <div>
      <h1>OOPS, page not found :)</h1>
    </div>

</body>

</html>