<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('./partials/icon.ejs')%>
    <link rel="stylesheet" type="text/css" href="../css/forget-pass.css">
    

    <title>forget-pass</title>
</head>
<body>
    <div>
        <form action="forget-pass" method="post">
            <input type="text" name="mail" placeholder="enter your mail">
            <label for="email">enter your mail</label>
            <button type="submit">submit</button>
          </form>
    </div>
</body>
</html>