<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/gallery.css" />
  <title>Gallery</title>
</head>

<body>

  <header> <%- include('./partials/header'); %></header>
  <div class="cont">
    <%- include('./partials/vidbg'); %>
    <div class="gallery">
    <a href=""><img src="../resources/arg.jpg"></a>
    <a><img id="1" src="../resources/alg.jpg"></a>
    <a><img id="2" src="../resources/indiia.jpg"></a>
    <a><img id="3" src="../resources/abosimbel.jpg"></a>
    <a><img id="4" src="../resources/alg.jpg"></a>
    <a><img id="5" src="../resources/indiia.jpg"></a>
    <a><img id="6" src="../resources/abosimbel.jpg"></a>
    </div>
    
    

  </div>


</body>


</html>