<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Travinture</title>
    <link rel="stylesheet" href="../css/home.css">
    <script type="text/javascript" src="../js/slideshow.js"></script>
    <%-include('./partials/icon.ejs')%>
</head>
<body>
    <%- include('./partials/header'); %>

    <div class="space">
        
    </div>
    <section class="tm-imgslider">
        <div class="slider single">
            <div>
                <div class="tm-slider">
                    <img class="tm-sliderimage"  src="../resources/indiia.jpg" alt="Travinture">
                </div>
            </div>
            <div>
                <div class="tm-slider">
                    <a href="/book/argentina"><img class="tm-sliderimage"  src="../resources/arg.jpg" alt="Travinture"></a>
                </div>
            </div>
            <div>
                <div class="tm-slider">
                    <a href="/book/egypt"><img class="tm-sliderimage" src="../resources/Ramsis,_Aswan_Governorate,_Egypt_-_panoramio.jpg" alt="Travinture"></a>
                </div>
            </div>
            <div>
                <div class="tm-slider"><img class="tm-sliderimage"  src="../resources/alg.jpg" alt="Travinture">
                </div>
            </div>
        </div>
    </section>
    <section class="tm-servicesection">
        <div class="tm-service">
            <img class="tm-serimage"  src="../resources/bell.png">
            <div>
                <p class="b">Service</p>
                <p> ksahfusf idnfds jbs </p>
            </div>
        </div>
        <div class="tm-service">
            <img class="tm-serimage"  src="../resources/coffee.png">
            <div>
                <p class="b">Meals</p>
                <p> safsadjfadk</p>
            </div>
        </div>
    </section>
    <section class="tm-servicesection">
        <div class="tm-service">
            <img class="tm-serimage"  src="../resources/car-front.png">
            <div>
                <p class="b">Parking</p>
                <p> No need to pay any extra charges to park at the airport </p>
            </div>
        </div>
        <div class="tm-service">
            <img class="tm-serimage"  src="../resources/spa.png">
            <div>
                <p class="b">Free </p>
                <p> Relax sdfddg dfg </p>
            </div>
        </div>
    </section>
    <section class="tm-makeres">
        <div class="tm-res">
            <div class="tm-resbutton">
                <a href="/book">
                    <p>Book your Journey</p>
                </a>
            </div>
        </div>
    </section>
    <footer id="fff"> <%- include('./partials/footer'); %></footer>
</body>
</html>