<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PAYMENT CANCELLED</title>
  <link rel="stylesheet" href="../css/interface.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <%- include('./partials/icon.ejs'); %>
</head>

<body>
    <header> <%- include('./partials/header'); %></header>

  <div id="cont">
    <%- include('./partials/vidbg'); %>
    <div id="frm">
      <h1 id="wel">PAYMENT CANCELLED</h1>
    </div>
    <div id="foot">
      <footer id="fff"> <%- include('./partials/footer'); %></footer>
    </div>
  </div>
</body>

<script src="../js/interface.js"></script>

</html>