<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Traventure login or sign up</title>
    <link rel="stylesheet" href="../css/signuPage.css" />
    <%-include('./partials/icon.ejs')%>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function validate() {
          if (document.getElementById('result').innerHTML.includes('taken'))
              return false;
          else
              return true;
      }
  </script>

<script>
  $(document).ready(function() {
    $('#email_id').keyup(function() {
      var email = $(this).val();
      checkEmailAvailability(email);
    });

    function checkEmailAvailability(email) {
      $.ajax({
        type: 'POST',
        url: '/user/signup',
        data: { mail: email },
        dataType: 'json',
        success: function(response) {
          if (response.isEmailTaken) {
            $('#email-error').text('Email is already taken');
          } else {
            $('#email-error').text('');
          }
        },
        error: function(xhr, status, error) {
          console.log('Error:', error);
        }
      });
    }

    $('#registration-form').submit(function(event) {
      event.preventDefault();

      var email = $('#email_id').val();

      $.ajax({
        type: 'POST',
        url: '/user/signup',
        data: { mail: email },
        dataType: 'json',
        success: function(response) {
          if (response.isEmailTaken) {
            $('#email-error').text('Email is already taken');
          } else {
            $('#email-error').text('');
            $('#registration-form').off('submit').submit();
          }
        },
        error: function(xhr, status, error) {
          console.log('Error:', error);
        }
      });
    });
  });
</script>




  </head>
  <body>
    <%- include('./partials/vidbg'); %>
    <div class="container">
      <header>Signup Form</header>
      <div class="progress-bar">
        <div class="step">
          <p>Name</p>
          <div class="bullet">
            <span>1</span>
          </div>
          <div class="check fas fa-check"></div>
        </div>
        <div class="step">
          <p>Contact</p>
          <div class="bullet">
            <span>2</span>
          </div>
          <div class="check fas fa-check"></div>
        </div>
        <div class="step">
          <p>Birth</p>
          <div class="bullet">
            <span>3</span>
          </div>
          <div class="check fas fa-check"></div>
        </div>
        <div class="step">
          <p>Submit</p>
          <div class="bullet">
            <span>4</span>
          </div>
          <div class="check fas fa-check"></div>
        </div>
      </div>
      <div class="form-outer">
        <form action="/user/signup" method ='post'id='registration-form' onsubmit="return validate()">
          <div class="page slide-page">
            <div class="title">Basic Info:</div>
            <div class="field">
              <div class="label">First Name</div>
              <input type="text" id="fn" name="firstname" required>
              <i class="fas fa-exclamation-circle failure-icon"></i>
              <i class="far fa-check-circle success-icon"></i><br>
            </div>
            <div class="error"></div>
            <div class="field">
              <div class="label">Last Name</div>
              <input type="text" id="ln" name="lastname" required>
              <i class="fas fa-exclamation-circle failure-icon"></i>
              <i class="far fa-check-circle success-icon"></i>
            </div>
            <div class="error"></div>
            <div class="field">
              <button class="firstNext next">Next</button>
            </div>
          </div>
          <div class="page">
            <div class="title">Contact Info:</div>
            <div class="field">
              <div class="label">Email Address</div>
              <input type="text" id="email_id" name="mail" required>
              <span id="email-error"></span>
              <i class="fas fa-exclamation-circle failure-icon"></i>
              <i class="far fa-check-circle success-icon"></i>
            </div>
            <div class="error"></div>
            <div class="field">
              <div class="label">Phone Number</div>
              <input type="number" id="phone" name="phone" required>
              <i class="fas fa-exclamation-circle failure-icon"></i>
              <i class="far fa-check-circle success-icon"></i>
            </div>
            <div class="error"><span id="mailerr"></span> </div>
            <div class="field btns">
              <button class="prev-1 prev">Previous</button>
              <button class="next-1 next">Next</button>
            </div>
          </div>
          <div class="page">
            <div class="title">Date of Birth:</div>
            <div class="field">
              <div class="label">Age</div>
              <input type="number" id="dob" name="dob" required>
              <i class="fas fa-exclamation-circle failure-icon"></i>
              <i class="far fa-check-circle success-icon"></i>
            </div>
            <div class="error"></div>
            <div class="field">
              <div class="label">Gender</div>
              <select id="gender" >
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
            <div class="field btns">
              <button class="prev-2 prev">Previous</button>
              <button class="next-2 next">Next</button>
            </div>
          </div>
          <div class="page">
            <div class="title">Login Details:</div>
            <div class="field">
              <div class="label">Username</div>
              <input type="text" id="user" name="username" required>
              <span id="username-error"></span>
              <span id="result"></span>
              <i class="fas fa-exclamation-circle failure-icon"></i>
              <i class="far fa-check-circle success-icon"></i>
            </div>
            <div class="error"></div>
            <div class="field">
              <div class="label">Password</div>
              <input type="password" id="pass" name="password" required>
              <i class="fas fa-exclamation-circle failure-icon"></i>
              <i class="far fa-check-circle success-icon"></i>
            </div>
            <div class="error"></div>
            <div class="field">
              <div class="label">Confirm Password</div>
              <input type="password" id="passconf" name="confirmpassword" required>  
              <input type="hidden" name="type" value="client">
              <input type="hidden" name="token" value="0">
              <i class="fas fa-exclamation-circle failure-icon"></i>
              <i class="far fa-check-circle success-icon"></i>
            </div>
            <div class="error"></div>
            <div class="field btns">
              <button class="prev-3 prev">Previous</button>
              <button id="submitbtn" class="submit">Submit </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="../js/signup.js"></script>

    
  
  </body>
</html>