<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Traventure Admin Dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="../css/trips.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <div class="grid-container">
    <header class="header">
      <div class="menu-icon" onclick="openSidebar()">
        <span class="material-icons-outlined">menu</span>
      </div>
      <div class="header-left">
        <!-- <span class="material-icons-outlined">search</span> -->
      </div>
      <div class="header-right">
        <span class="material-icons-outlined">notifications</span>
        <span class="material-icons-outlined">email</span>
        <span class="material-icons-outlined">account_circle</span>
      </div>
    </header>
    <%- include('./partials/sidebar-admin'); %>
      <main class="main-container">
        <div class="container">
          <h3>Add Trip</h3>
          <div class="table">
            <div class="tr">
              <form action="/admin/addtrips" enctype="multipart/form-data"  method="post" id="addt-form">
                <!-- bos aal action -->
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputName">Where to</label>
                    <select name="gov" id="gov">
                      <% for (let i=0 ; i < 174 ; i++) {%>
                        <option value="<%=countries[i].country_name%>">
                          <%=countries[i].country_name%>
                        </option>
                      <%}%>
                    </select>
                  </div>
                 
                  <div class="form-group col-md-6">
                    <label for="desc">Description</label>
                    <textarea name="desc" id="desc" cols="30" rows="5" class="form-control"
                      placeholder="Enter the Description" required></textarea>
                  </div>

                  <div>
                    <input type="file" name="img">
                  </div>
                  
                  <!-- Hotel 1 -->
                  <div class="form-group col-md-6">
                    <label for="hotel1">Hotel 1 Name</label>
                    <input type="text" class="form-control" name="hotel1" id="hotel1" placeholder="Enter hotel name"
                      required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="room1Type1">Room 1 Type</label>
                    <input type="text" class="form-control" name="room1Type1" id="room1Type1" placeholder="Enter room type"
                      required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="room1Price1">Room 1 Price</label>
                    <input type="text" class="form-control" name="room1Price1" id="room1Price1" placeholder="Enter room price"
                      required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="room1Type2">Room 2 Type</label>
                    <input type="text" class="form-control" name="room1Type2" id="room1Type2" placeholder="Enter room type"
                      required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="room1Price2">Room 2 Price</label>
                    <input type="text" class="form-control" name="room1Price2" id="room1Price2" placeholder="Enter room price"
                      required>
                  </div>
                  
                  <!-- Hotel 2 -->
                  <div class="form-group col-md-6">
                    <label for="hotel2">Hotel 2 Name</label>
                    <input type="text" class="form-control" name="hotel2" id="hotel2" placeholder="Enter hotel name"
                      required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="room2Type1">Room 1 Type</label>
                    <input type="text" class="form-control" name="room2Type1" id="room2Type1" placeholder="Enter room type"
                      required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="room2Price1">Room 1 Price</label>
                    <input type="text" class="form-control" name="room2Price1" id="room2Price1" placeholder="Enter room price"
                      required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="room2Type2">Room 2 Type</label>
                    <input type="text" class="form-control" name="room2Type2" id="room2Type2" placeholder="Enter room type"
                      required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="room2Price2">Room 2 Price</label>
                    <input type="text" class="form-control" name="room2Price2" id="room2Price2" placeholder="Enter room price"
                      required>
                  </div>
                  
                </div>
                <!-- <button type="submit" class="btn btn-primary" onclick="">Add user</button> -->
                <input type="submit" name="submit" class="btn btn-primary">
              </form>
            </div>
          </div>
        </div>
      </main>
  </div>
</body>
<script src="../js/trips.js"></script>

</html>
