<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Travinture Admin Dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="../css/trips.css">
  <%-include('./partials/icon.ejs')%>
</head>
<body>
  <div class="grid-container">
    <header class="header">
      <div class="menu-icon" onclick="openSidebar()">
        <span class="material-icons-outlined">menu</span>
      </div>
      <div class="header-left">
        <!-- <span class="material-icons-outlined">search</span> -->
      </div>
      <div class="header-right">
        <span class="material-icons-outlined">notifications</span>
        <span class="material-icons-outlined">email</span>
        <span class="material-icons-outlined">account_circle</span>
      </div>
    </header>
    <%- include('./partials/sidebar-admin'); %>
    <main class="main-container">
      <div id="option">
        <select name="gov" id="gov"></select>
      </div>
    </main>
  </div>
</body>
<script src="../js/trips.js"></script>
</html>