* {
    margin: 0;
    padding: 0;
  }
  body{
    /* background-color: #2B65EC ; */
    background: linear-gradient(270deg,#37D5D6 , #36096D);
    background-repeat:round;
    background-size: cover;
  }
  svg{
    margin-top: 5%;
    margin-bottom: 2%;
    width: 98vw;
    height: 80vh;
  
  }
  svg path{
    fill: white;
    stroke: black;
    stroke-width: 0.5px;
  }
  svg path:hover{
    fill: goldenrod;
    transition: 0.5s;
    cursor: pointer;
  }
  #fff{
    overflow-x: clip;
  }