* {
    margin: 0;
    padding: 0;
  }
  body{
    /* background-color: #2B65EC ; */
    background: linear-gradient(270deg,#37D5D6 , #36096D);
    background-repeat:round;
    background-size: cover;
  }
  svg{
    margin-top: 5%;
    margin-bottom: 2%;
    width: 98vw;
    height: 80vh;
  
  }
  svg path{
    fill: white;
    stroke: black;
    stroke-width: 0.5px;
  }
  svg path:hover{
    fill: goldenrod;
    transition: 0.5s;
    cursor: pointer;
  }
  #fff{
    overflow-x: clip;
  }
  .search-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
  }
  #search-input {
    flex: 1;
    padding: 2%;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 17px;
  }
  
  #search-btn {
    width: 15%;
    padding: 6px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .country {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1;
    transition: fill 0.2s;
  }
  
  .highlight {
    fill: yellow;
  }