body{
    
     background: linear-gradient(270deg,#37D5D6 , #36096D); 
    background-repeat:round;
    background-size: cover;
  }
.trips {

  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .trip {
    background-color: #fff;  
    width: 300px;
    height: 400px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 13px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .trip img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    display: block;
  }
  
  .trip-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .trip-description {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .trip-options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .purch {
    margin-top: 10px;
    background-color: #2e94b3 ;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .purch:hover {
    background-color: #3e628e;
  }
  
  select {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
  
    to {
      opacity: 1
    }
  }
  
  @keyframes fade {
    from {
      opacity: .4
    }
  
    to {
      opacity: 1
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .page-link {
    display: inline-block;
    padding: 10px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .page-link:hover,
  .page-link.active {
    background-color: #333;
    color: #fff;
  }

  .heart {
    display: inline-block;
    font-size: 1.5rem;
    color: transparent;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .heart:hover {
    color: red;
  }
  
  .heart.wished {
    color: red;
  }
header {
    background-color: #0d0d0d;
    margin-bottom: 5%;
  }
  #vid1 {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }